<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="2">
    <section id="scrob_addon">
        <category id="cat_connection" label="30001">
            <group id="1" label="30005">
                <setting id="scrob_url" type="string" label="30002">
                    <default>http://localhost:7330</default>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="conn_status" type="string" label="30019">
                    <level>0</level>
                    <default>Not connected</default>
                    <control type="label" format="string"/>
                </setting>
                <setting id="authorize_action" type="action" label="30016">
                    <level>0</level>
                    <data>RunScript(special://home/addons/service.scrob/service.py,authorize)</data>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                </setting>
                <setting id="signout_action" type="action" label="30017">
                    <level>0</level>
                    <data>RunScript(special://home/addons/service.scrob/service.py,signout)</data>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                </setting>
                <setting id="api_key" type="string" label="30003" help="30018">
                    <default></default>
                    <control type="edit" format="string"/>
                </setting>
            </group>
            <group id="2">
                <setting id="progress_interval" type="integer" label="30004">
                    <default>60</default>
                    <constraints minimum="10" step="10" maximum="300"/>
                    <control type="edit" format="integer"/>
                </setting>
            </group>
        </category>
        <category id="cat_sync" label="30006">
            <group id="3">
                <setting id="sync_to_scrob" type="boolean" label="30007">
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="watched_threshold" type="integer" label="30015">
                    <default>90</default>
                    <constraints minimum="50" step="5" maximum="100"/>
                    <control type="edit" format="integer"/>
                </setting>
                <setting id="sync_from_scrob" type="boolean" label="30008">
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="sync_ratings_from_scrob" type="boolean" label="30013">
                    <default>true</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="enable" setting="sync_from_scrob" operator="is">true</dependency>
                    </dependencies>
                </setting>
                <setting id="sync_interval" type="integer" label="30014">
                    <default>0</default>
                    <constraints minimum="0" step="15" maximum="360"/>
                    <control type="edit" format="integer"/>
                    <dependencies>
                        <dependency type="enable" setting="sync_from_scrob" operator="is">true</dependency>
                    </dependencies>
                </setting>
                <setting id="rate_on_completion" type="boolean" label="30011">
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="rate_episodes_on_completion" type="boolean" label="30012">
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
    </section>
</settings>
