<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="2">
    <section id="general">
        <category id="general" label="General">
            <group id="1">
                <setting id="scrob_url" type="string" label="Scrob URL">
                    <default>http://localhost:7330</default>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="api_key" type="string" label="API Key">
                    <default></default>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="progress_interval" type="integer" label="Progress report interval (seconds)">
                    <default>60</default>
                    <constraints minimum="10" maximum="300" step="10"/>
                    <control type="spinner" format="integer"/>
                </setting>
            </group>
        </category>
    </section>
</settings>
