<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="2">
    <section id="scrob_addon">
        <category id="cat_general" label="30001">
            <group id="1" label="30005">
                <setting id="scrob_url" type="string" label="30002">
                    <default>http://localhost:7330</default>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="api_key" type="string" label="30003">
		    <default>key</default>
                    <control type="edit" format="string"/>
                </setting>
            </group>
            <group id="2">
                <setting id="progress_interval" type="integer" label="30004">
                    <default>60</default>
                    <constraints minimum="10" step="10" maximum="300"/>
                    <control type="edit" format="integer"/>
                </setting>
            </group>
        </category>
    </section>
</settings>
